.jumbotron {
  background-color: #c9d2e0;
  color: black;
  margin-top: 5px; }

.footer {
  padding: 10px 10px 0 10px;
  background-color: #c9d2e0;
  margin-top: 10px;
  margin-bottom: 0px;
  color: white; }

.footer address {
  color: #0c0b0b; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
