$yellow:rgb(201, 210, 224);
$red:rgb(196, 21, 21);
$green:rgb(1, 119, 16);

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
} 

.jumbotron {
    background-color:$yellow;
    color: black;
    margin-top: 5px;
}

.footer{
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    @include margenes(10px,0px );
    color: white;
}

.footer address{
    color: rgb(12, 11, 11);
}

.card-hotel{
    flex: 1 200px;
    @include margenes(10px,0px );
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
} 

.footer-address-icon {
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}