@yellow: #b0d0ee;

.margenes(@top, @bottom) {
  margin-top: @top;
  margin-bottom: @bottom;
}


.jumbotron {
    background-color: @yellow;
    color: black;
    .margenes(50px, 0px);
  }
  
  .footer {
    padding: 10px 10px 0 10px;
    background-color:@yellow;
    .margenes(10px, 0px);
    
    color: white; }
  
  .footer address {
    color: black; }
  
  .card-hotel {
    flex: 1 200px;
    .margenes(50px, 0px);
  }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .tab-content {
    padding-top: 10px; }
  